* {
  margin: 0px;
  padding: 0px;
}

/* Background pattern */
body {
  background-size: 10px 10px;
  background-image: linear-gradient(to right, #f7bcbc 1px, transparent 1px),
    linear-gradient(to bottom, #f7bcbc 1px, transparent 1px);
}

h1 {
  font-weight: bold;
  font-family: "Space Mono", "IBM Plex Mono", "Courier New";
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 100px;
}

h2 {
  font-family: "Lato", serif;
}

#js-vibrate-text {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 50px;
  background-color: red;
  padding: 10px;
}

p {
  font-family: "Lato", serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.6;
}

li {
  font-family: "Space Mono", "IBM Plex Mono", "Courier New";
  font-weight: 400;
  line-height: 1.6;
}

.blue-point-title {
  font-family: "Space Mono", "IBM Plex Mono", "Courier New";
  font-weight: 400;
  font-weight: bold;
  font-size: 15px;
}

/* span {
  font-size: 30px;
  font-family: "Lato", serif;
  font-weight: 400;
  margin-left: -10px;
  margin-right: 5px;
} */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bolder;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: solid rgb(34, 219, 182) 2px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin: 10px;
  font-size: 20px;
  text-decoration: underline;
}

/* Header */
.header {
  margin-top: 200px;
}

/* About section */
.about {
  margin-top: 200px;
}

.about__text {
  margin: 0 100px 20px 100px;
}
/* Infinite slide animation */
.about__images {
  width: 100%;
  overflow: hidden;
}

.about__list {
  height: 400px;
  width: 200%;
  display: flex;
  overflow: hidden;
  animation: loopAnimation 30s linear infinite;
  margin: 100px;
}

.about__item {
  display: flex;
  margin: 20px;
}

@keyframes loopAnimation {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(-50%);
  }
}

/* Learning path */
.learning__content {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-left: solid 3px;
  position: relative;
  padding-left: 20px;
}

.learning__title {
  position: relative;
  /* margin-left: -26px; */
  text-indent: -26px;
  font-size: 30px;
  list-style: none;
  font-weight: 600;
}

.learning__title::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: black;
  position: relative;
  top: 1px;
  left: -5px;
  border-radius: 50%;
  margin-right: 20px;
}

.learning__description {
  padding-left: 200px;
  margin-top: 20px;
  list-style: none;
}

.contact__list {
  padding: 100px;
}

/* footer */
footer {
  height: 300px;
  background-color: rgb(34, 219, 182);
  position: relative;
}

footer p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: end;
}
.div-empty {
  height: 200px;
}

/*|cursor display*/
#js-typing-animation:after {
  content: "|";
  animation: typingCursor 0.8s ease infinite;
}

@keyframes typingCursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ideabord__img {
  display: flex;
  justify-content: space-around;
}

.img {
  width: 20%;
  height: 20%;
}

#canvas {
  border: solid 1px;
}
